@model Localidades.Models.Country

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h3>Pais</h3>
    <hr />


    <h4>@Html.DisplayFor(model => model.Nombre)</h4>


</div>

    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Regiones</th>
                    <th scope="col">Cantidad de Provincias</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in ViewBag.Datos)
                {
                    <tr>
                        <td>@r.Nombre</td>
                        <td>@r.NumeroProvincias</td>
                    </tr> 
                }
            </tbody>
        </table>
       
            
       
        
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
